In [35]:
#Question 1: create the dictionary given below and print the value of key "Virat" from the below dictionary.

sampleDict={
    "Country":{
        "name":["Rohit, Virat","Rahul","Shami","Bumrah"],
        "Runs":{
            "Rohit":47,
            "Virat":54,
            "Rahul":66
        }
    }
}

print(sampleDict["Country"]["Runs"]["Virat"])

54

In [25]:
#Question 2: Write a python program to check if value 2700 exists in the following dictionary.

sample_dict={'a':100,'b':2800, 'c':300}

print(sample_dict.values() ==2700)

False

In [29]:
#Question 3: Write a program to add a list of elements into a given set.

sample_set={"Surya","Kapil","MSD"}
sample_list=["Sachin", "Siraj","Sehwag"]

sample_set.update(sample_list)

print (sample_set)

{'Siraj', 'Kapil', 'Sehwag', 'Surya', 'Sachin', 'MSD'}

In [30]:
#Question 4: Write a python program to return a new set of identical items from two sets

set1={10,20,30,40,50}
set2={30,40,50,60,70}

print(set1.intersection(set2))

{40, 50, 30}

In [48]:
#Question 5: Given a list of numbers. Write a program to turn every item of a list into its square.

numbers =[1,2,3,4,5,6,7]
def square(n):
    return n*n

squarelist=map(square,numbers)
print(list(squarelist))

[1, 4, 9, 16, 25, 36, 49]

In [53]:
#Question 6: Write a program to add item 7000 after 6000 in the following Python list.

list1=[10,20,[300,400,[5000,6000],500],30,40]

list1[2][2].append(7000)

print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]